/* style.css */
body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: radial-gradient(#003b2f, #001e1a);
  color: white;
  text-align: center;
}

h1 {
  margin: 30px 0;
  font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 15px;
}

.progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
}

svg {
  transform: rotate(-90deg);
  width: 100px;
  height: 100px;
}

circle {
  fill: none;
  stroke-width: 10;
}

.bg {
  stroke: #4d4d4d;
}

.progress {
  stroke: rgb(43, 255, 0);
  stroke-dasharray: 251.2;
  stroke-dashoffset: calc(251.2 * (1 + 0.10));
  transition: stroke-dashoffset 0.6s ease;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}
